---
import { getCollection } from 'astro:content';
import KotlinRevLayout from '../../layouts/KotlinRevLayout.astro';
import { isTopLevelIndexSlug } from '../../lib/content';

export async function getStaticPaths() {
  const docs = await getCollection('kotlinrev', ({ data, slug }) => !data.draft && !isTopLevelIndexSlug(slug));
  return docs.map(doc => ({
    params: { slug: doc.slug },
    props: { doc }
  }));
}

const { doc } = Astro.props;
const { Content } = await doc.render();
---

<KotlinRevLayout title={doc.data.title} description={doc.data.description}>
  <h1>{doc.data.title}</h1>
  <Content />
</KotlinRevLayout>
