---
import { getCollection, render } from 'astro:content';
import KotlinRevLayout from '../../layouts/KotlinRevLayout.astro';
import { isTopLevelIndexId } from '../../lib/content';

export async function getStaticPaths() {
  const docs = (await getCollection('kotlinrev')).filter((doc) => !doc.data.draft && !isTopLevelIndexId(doc.id));
  return docs.map(doc => ({
    params: { slug: doc.id },
    props: { doc }
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);
---

<KotlinRevLayout title={doc.data.title} description={doc.data.description}>
  <h1>{doc.data.title}</h1>
  <Content />
</KotlinRevLayout>
