@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .prose pre {
    @apply bg-gray-900 text-gray-100 rounded-lg;
  }

  .prose code {
    @apply font-mono;
  }
}
