---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Profile">
  <div class="container mx-auto px-4 py-12">
    <div class="max-w-3xl mx-auto">
      <h1 class="text-4xl font-bold mb-8">Profile</h1>

      <div class="prose prose-lg max-w-none">
        <h2>yy_yank</h2>
        <img
          src="https://avatars3.githubusercontent.com/u/3250718?v=3&s=460"
          alt="yy_yank icon"
          class="w-32 h-32 rounded-full"
        />
        <p>Japanese 'Yurufuwa' Programmer.</p>

        <h3>Organization</h3>
        <p>UZABASE Inc.</p>

        <h3>Like</h3>
        <p>Java, Kotlin, Go</p>

        <h3>Twitter</h3>
        <p><a href="https://twitter.com/yy_yank">@yy_yank</a></p>

        <h3>GitHub</h3>
        <p><a href="https://github.com/yyYank">https://github.com/yyYank</a></p>

        <h3>Blog</h3>
        <p><a href="https://yyyank.blogspot.jp/">プログラマのはしくれダイアリー</a></p>

        <h3>contribute as a writer</h3>
        <ul>
          <li><a href="https://drive.google.com/file/d/0Bylpznm149-gTGRjOFRkWm9PODg/view">Kotlin助走読本</a></li>
          <li><a href="https://www.amazon.co.jp/dp/B076Q2L1M6/ref=cm_sw_r_tw_awdo_c_x_LMA.BbPBEM027">Kotlinイン・アクション</a></li>
        </ul>

        <h3>Slide</h3>
        <ul>
          <li><a href="https://www.slideshare.net/yyyank/server-side-kotlin-49030491">Server Side Kotlin</a></li>
          <li><a href="https://www.slideshare.net/yyyank/kotlinver">Kotlinメジャーver リリースを前に</a></li>
          <li><a href="https://www.slideshare.net/yyyank/java-55600699">【こっそり始める】Javaプログラマコーディングマイグレーション</a></li>
          <li><a href="https://www.slideshare.net/yyyank/kotlin-58781668">Kotlinあるある言いたい</a></li>
          <li><a href="https://www.slideshare.net/yyyank/kotlin-60377622">Kotlinこんなん出ましたけど</a></li>
          <li><a href="https://www.slideshare.net/yyyank/ss-62257220">絶対にぬるぽを出さない</a></li>
          <li><a href="https://www.slideshare.net/yyyank/doma2-with-kotlin">Doma2 with Kotlin</a></li>
          <li><a href="https://www.slideshare.net/yyyank/kuromojikotlin">KuromojiをKotlinで動かす</a></li>
          <li><a href="https://www.slideshare.net/yyyank/javafizz-buzz">Javaで最強のfizz buzz</a></li>
          <li><a href="https://www.slideshare.net/yyyank/kotlin-69542943">Kotlinソースコード探訪</a></li>
          <li><a href="https://www.slideshare.net/yyyank/jvmjava-69784006">Jvm言語とJava、切っても切れないその関係</a></li>
          <li><a href="https://www.slideshare.net/yyyank/vm-dalvikartjava-vm">VMの歩む道。 Dalvik、ART、そしてJava VM</a></li>
          <li><a href="https://www.slideshare.net/yyyank/javago">Javaプログラマのための頑張らないGo入門</a></li>
          <li><a href="https://speakerdeck.com/yyyank/sabasaidokotlintoiuxuan-ze-zhi-toyuzabesu">サーバーサイドKotlinという選択肢とユーザベース</a></li>
          <li><a href="https://speakerdeck.com/yyyank/debeziumdebian-geng-detakiyaputiyawoxue-bou-number-jjug-ccc">Debeziumで変更データキャプチャを学ぼう #jjug_ccc</a></li>
        </ul>

        <h3>Site</h3>
        <ul>
          <li><a href="https://kotlin-rev-solution.herokuapp.com/">逆引きKotlin</a></li>
          <li><a href="/docs/">memo</a></li>
        </ul>

        <h3>Library</h3>
        <ul>
          <li><a href="https://github.com/yyYank/Kebab">Kebab</a></li>
          <li><a href="https://github.com/skrap-json4k/skrap-json4k">json4k</a></li>
        </ul>
      </div>

      <div class="mt-8">
        <a
          href="/docs/"
          class="inline-block bg-primary-600 text-white px-6 py-3 rounded-lg font-medium hover:bg-primary-700 transition-colors"
        >
          やんくのメモをみてみる
        </a>
      </div>
    </div>
  </div>
</BaseLayout>
